@import url(https://fonts.googleapis.com/css?family=Cantarell:400,700);
@font-face {
	font-family: lemonmilk;
	src: url(LemonMilk.otf);
}
body, html {
	background-color: #f1f1f1;
	height: 100%;
}
#banner {
	background-color: #ffffff;
	color: #999999;
	width: 100%;
	padding: 15px;
	position: fixed;
	top: 0px;
	left: 0px;
	font-family: lemonmilk;
	font-size: 20px;
	border: 1px solid #dddddd;
}
a {
	color: #00a3cc;
	text-decoration: none;
	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	transition:.25s;
}
a:hover {
	color: #0066cc;
}
#contentcontainer {
	margin-top: 58px;
	width: 50%;
	display: block;
	margin: auto;
	background-color: #f1f1f1;
}
#content {
	margin-top: 58px;
	left: 0px;
	font-family: "Cantarell", sans-serif;
	padding: 15px;
	background-color: #ffffff;
}
#home-contentcontainer {
	margin-top: 58px;
	width: 75%;
	display: block;
	margin: auto;
	background-color: #f1f1f1;
}
#home-content {
	margin-top: 75px;
	left: 0px;
	font-family: "Cantarell", sans-serif;
	padding: 15px;
	background-color: #ffffff;
	margin-left: 28%;
}
#sidebar {
	width: 27%;
	height: 100%;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 15px;
	float: left;
	background-color: #f1f1f1;
	font-family: "Cantarell", sans-serif;
	border: 1px solid #dddddd;
}
#sidebar-title {
	text-align: center;
	font-family: lemonmilk;
	font-size: 30px;
}
#footer {
	padding: 15px;
	background-color: #f1f1f1;
	width: 100%;
	font-size: 10px;
	font-family: "Cantarell", sans-serif;
	text-align: center;
}